/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='range'] {
	border-radius: 8px;
	outline: none;
	height: 5px;
	width: 100%;
	-webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
	width: 12px;
	background: white;
	-webkit-appearance: none;
	height: 12px;
	position: relative;
	top: 0.5px;
	border-radius: 100%;
}

@tailwind components;

@tailwind utilities;
